
.body {
  margin: 0;
	padding: 0;
  border: 0;
  
}
.root {
  
  margin: 0;
	padding: 0;
  border: 0
}




.bg-main {
	background-image: url('./assets/wessley_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


.bg-2 {
  background-image: url('./assets/banner2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: -1;

}


.wessley {
    color: white;
    font-family: 'Monsieur La Doulaise', cursive;
    letter-spacing: 2rem;
    font-size: 54px;
    
    opacity: 70%;
    padding-top: 50vh;
}

.regular-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
    
    opacity: 60%;
    font-size: 20px;
}

.line {
   
    opacity: 60%;
    max-width: 300px;
    width: 100%;
    animation: spread 1.2s ease-in-out;
}

@keyframes spread {
  from {
   
   width: 0px;
  }
  to {
   
   width: 360px;
  }
 }

.icons-menu {
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 60%;
    

}

.icons-menu a {
    
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.icons-menu a:hover {
    opacity: 200%;
    transform: scale(105%) translateY(-5px) rotate(-5deg);
  }


.icon {
    padding-left: 2vh;
    padding-right: 2vh;
    
}


.arrow {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 30px; /* or 40px for the second button */
  position: absolute;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: antiquewhite;
  animation: scrolldown 1.2s ease-in-out infinite 0.15s; /* or without delay for the second button */
}

  .arrow2 {

  
    width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 50px; /* or 40px for the second button */
  position: absolute;
 
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: antiquewhite;
  animation: scrolldown 1.2s ease-in-out infinite  /* or without delay for the second button */
  }

  @keyframes scrolldown {
    0%{
        
          transform: translateY(20%) rotate(45deg);
          opacity: 0.7;
      }
      50%{
          transform: translateY(0%) rotate(45deg);
          opacity: 0.2;
      }
      100%{
          transform: translateY(20%) rotate(45deg);
          opacity: 0.7;
      }
      
  }


  .drop-in {
    animation: drop-in 1s ease 200ms backwards;
   }
   
   .drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
   }
   
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 70%;
     transform: translate(0px);
    }
   }
   
   .releases-section{
     
   }

   .release{
    padding-top: 5%;
   }


  .separator{
    padding: 0;
    border: 0;
    background-color: black;
    max-width: 1280px;
    overflow: hidden;
    max-height: 20px;
  }

   .footer{
    background-color: black;
   }
   
   .releases-text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: 60%;
    
    
   }

   .latest {
    padding-top: 10%;
    font-size: 35px;
    text-decoration: none;
    position: relative;
    
   }

   .latest::after {
    content: "";
    
    transform: translateX(-50%);
    
    width: 50%;
    height: 2px; /* Adjust the height as per your preference */
    background-color: white; /* Set the color of the underline */
  }

  .streaming {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the value to control the spacing between images */
  }

  .streaming a {
    display: flex;
    align-items: center;
    padding: 2rem;
    opacity: 60%;
  }
  
  .streaming a {
    
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
  .streaming a:hover {
    opacity: 200%;
    transform: scale(105%) translateY(-5px) rotate(-5deg);
  }
  
  .footer-content {
    font-size: 14px;
  }
  
  .footer-content a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }


  .contact {

  }

  .social {

  }

  